@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

// html body {
// 	font-family: "Bebas Neue", sans-serif;
// 	font-family: "Manrope", sans-serif;
// 	font-family: "Inconsolata", monospace;
// 	font-family: "Manrope", sans-serif;
// 	font-family: "Merriweather", serif;
// 	font-family: "Outfit", sans-serif;
// }

header {
	padding: 10px 20px;
}

nav a {
	position: relative;
	text-decoration: none;
	color: #c82e30;
	font-family: "Bebas Neue", sans-serif;
	font-size: 30px;
	margin: 0 10px;
}

.nav-link {
	color: #c82e30;
}

.nav-link:hover {
	color: white;
}

nav a::before {
	content: "";
	position: absolute;
	bottom: -3px;
	left: 0;
	height: 3px;
	width: 0;
	background-color: #c82e30;
	transition: width 0.3s ease;
	border-radius: 50px;
}

nav a:hover::before {
	width: 100%;
}

body {
	background: linear-gradient(
		180deg,
		rgba(7, 7, 52, 1) 0%,
		rgba(16, 14, 23, 1) 30%,
		rgba(82, 82, 82, 1) 70%,
		rgba(200, 46, 48, 1) 100%
	);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 16s ease infinite;
	-moz-animation: AnimationName 16s ease infinite;
	animation: AnimationName 16s ease infinite;
}
@-webkit-keyframes AnimationName {
	0% {
		background-position: 50% 0%;
	}

	50% {
		background-position: 50% 100%;
	}

	100% {
		background-position: 50% 0%;
	}
}

@-moz-keyframes AnimationName {
	0% {
		background-position: 50% 0%;
	}

	50% {
		background-position: 50% 100%;
	}

	100% {
		background-position: 50% 0%;
	}
}

@keyframes AnimationName {
	0% {
		background-position: 50% 0%;
	}

	50% {
		background-position: 50% 100%;
	}

	100% {
		background-position: 50% 0%;
	}
}

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	// height: 200vh;
	// font-family: Ringside Regular A, Ringside Regular B, Rubik, Lato, Lucida Grande, Lucida Sans Unicode,
	// 	Tahoma, Sans-Serif;
	font-style: normal;
	font-size: 1.5rem;
	letter-spacing: -0.03rem;
	font-weight: 700;
	color: white;
	overflow-x: hidden;
}

.formulaire {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 20px;
	min-height: 90vh;
}

h2 {
	text-align: center;
	color: #ffffff;
	font-size: 1.5rem;
	margin-bottom: 20px;
}

.formulaire_esthetique {
	background-color: #c82e30;
	border-radius: 15px;
	padding: 20px;
	max-width: 400px;
	width: 100%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.int_form {
	margin-bottom: 15px;
}

textarea {
	font-family: "NotoSans", sans-serif;
	height: 100px;
	resize: none;
}

input[type="text"],
input[type="email"],
textarea {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: #525252;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

input[type="radio"] {
	margin-right: 10px;
}

label {
	color: white;
	font-size: 0.9rem;
}

p {
	color: white;
	font-size: 0.9rem;
	margin-bottom: 10px;
}

::-webkit-scrollbar {
	height: 8px;
	background-color: #26232d;
}

::-webkit-scrollbar-thumb {
	background-color: #c82e30;
	border-radius: 9em;
	box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

footer {
	display: flex;
	background-color: #1a1a1a; /* Fond sombre */
	color: white; /* Texte blanc */
	font-family: "Merriweather", serif;

	a {
		font-weight: bold;
		color: #c82e30; /* Rouge principal */
		transition: color 0.3s ease;

		&:hover {
			color: #ff6347; /* Rouge clair au survol */
		}
	}

	.bi {
		transition: transform 0.3s ease, color 0.3s ease;

		&:hover {
			color: #c82e30; /* Icône devient rouge */
			transform: scale(1.2); /* Zoom léger au survol */
		}
	}
}

footer img {
	height: 40px; /* Ajuste la hauteur selon tes besoins */
	width: auto; /* Conserve les proportions */
	display: inline-block; /* S'assure que l'image s'affiche en ligne */
}
